*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(120, 122, 123);
}
form{
    margin: 4rem 21rem;
}
.main-div{
    background-color: rgb(252, 252, 252);
    padding: 28px;
    border-radius: 5px;

}
input[type=text],[type=password]{
    width: 100%;
    margin: 5px 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: ridge;
}

.button-login{
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: rgb(55, 50, 222);
    font-size: 14px;
    padding: 8px 14px;
    border-style: hidden;
    border-radius: 5px;
    
}
p{
    margin: 10px 0;
    text-align: center;
    color: rgb(47, 47, 163);
}
.btn{
    padding: 8px 10px;
    color: white;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
}
.btn-account{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
}